services:
  postgres-phishing:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: postgres-phishing-3102
      POSTGRES_DB: phishing
    volumes:
      - pg:/var/lib/postgresql/data
    ports:
      - "5435:5432"

  waha-phishing:
    image: devlikeapro/waha
    ports:
      - "3001:3000"
    environment:
      WAHA_LICENSE: 64155485-9658-4889-a545-b10d15421d2d

  nextjs-phishing:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://user:postgres-phishing-3102@postgres-phishing:5435/phishing
      WAHA_URL: http://localhost:3001
      APP_URL: http://localhost:3000
      JWT_SECRET: super_secret_here
      NEXT_PUBLIC_WAHA_LICENSE: 64155485-9658-4889-a545-b10d15421d2d
    depends_on:
      - postgres-phishing
      - waha-phishing

volumes:
  pg:
